@tailwind base;
@tailwind components;
@tailwind utilities;


.fly-in-animation {
    animation-name: fly-in;
    animation-duration: 400ms;
    animation-timing-function: linear;
}

.fly-out-animation {
    animation-name: fly-out;
    animation-duration: 400ms;
    animation-timing-function: linear;
}

@keyframes fly-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
  }

  @keyframes fly-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
  }
  