@tailwind base;
@tailwind components;
@tailwind utilities;


.fly-in-animation {
    animation-name: fly-in;
    animation-duration: 400ms;
    animation-timing-function: linear;
}

.fly-out-animation {
    animation-name: fly-out;
    animation-duration: 400ms;
    animation-timing-function: linear;
}

@keyframes fly-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fly-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}


.test-animation::after {
    content: '';
    width: 1px;
    position: absolute;
    bottom: 0px;
    height: 80px;
    background-color: black;
    top: 1.5rem;
    left: 50%;
    animation-name: fly-down;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fly-down {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.dark ::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5; */
    background-color: rgb(169, 169, 169);

}

.dark ::-webkit-scrollbar {
    /* width: 10px;
	background-color: #F5F5F5; */
    background-color: red;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: rgb(103, 103, 103);
    border: 3px solid rgb(169, 169, 169);
    border-radius: 50px;
    /* background-color: #000000;
	border: 2px solid #555555; */
}


@keyframes modal-slide-in {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes modal-slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes fly-around {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(70%);
    }

    50% {
        transform: translateY(0%);
    }

    75% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(0%);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

@keyframes ripple {
    to {
        opacity: 0;
        transform: scale(3);
    }
}

.dragging{
    position: relative;
    z-index: 1000;
    transition: transform 0.2s ease;
}